<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
 
    <ul class="error-list">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>